    /* .form-inline .form-control {
        border-radius: 60px;
    }
    
    nav .btn {
        border-radius: 60px;
    }
    
    nav .btn-outline-success {
        color: red;
        border-color: red;
    }
    
    #cover {
        background-color: black;
        text-align: center;
    }
    
    #cover h1 {
        color: yellow;
        font-weight: normal;
        padding-top: 25px;
    }
    /* #cover img {
        border-radius: 100%;
    } */
    
    #cover h2 {
        color: yellow;
        padding: 25px;
        text-align: center;
    }
    
    */